# Dependencias
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de entorno
.env
.env.local
.env.*.local

# Directorios de builds
dist/
build/
out/
coverage/

# Cachés y temporales
.cache/
.npm/
.yarn/
.pnp.*
*.tsbuildinfo

# Configuración de IDE/editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Tests
coverage/
*.lcov

# Docker overrides
docker-compose.override.yml

# Otros
*.swp
*.swo
*.bak
